.fondoEscena {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(104, 200, 238, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to bottom right, #51def7, #ffa36b);
}

.botonesDiv {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

button {
  width: 10rem;
  height: 3rem;
  font-size: 1rem;
  background-color: #ffea97;
  color: #5437b7;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #ffd700;
  color: #fff;
}

.parrafo {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1.5rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  color: #5437b7;
  font-family: cursive;
  font-size: 1.2rem;
}

.parrafo:hover {
  background-color: rgba(255, 255, 255, 1);
  border-color: #5437b7;
  color: #ff6b6b;
}

.selected {
  background-color: #f6f872;
}